**.DS_Store
.DS_Store
.AppleDouble
.LSOverride

# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.sqlite3

# Root dashboard boilerplate files
LICENSE
assets/
components.html
forms.html
icons.html
index.html
notifications.html
tables.html
typography.html